.homePageWrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: calc(100% - 4.5rem);
  margin-top: 4.5rem;
}

.factionsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 2rem;

  .factionSectionTitle {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    text-decoration: underline;
    margin-bottom: 2rem;
  }
  .factionTile {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;

    background-color: lightgrey;
    align-items: center;
    width: 500px;
    height: 80px;

    .factionName {
      font-size: 1.5rem;
      font-weight: 500;
      color: #000;
      margin: unset;
      padding-left: 30px;
    }

    a {
      width: 22%;
      height: 100%;
      color: #000;
    }
    .unitsButton {
      font-size: 1rem;
      font-weight: 500;
      color: #000;
      margin: unset;
      padding: 5px 14px;
      height: 100%;
      width: 100%;
      font-weight: 600;
    }
  }
}
