.homePageWrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: calc(100% - 4.5rem);
  margin-top: 4.5rem;
}

.topicsSelector {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.topicsHeader {
  text-align: center;
  width: 100%;
  font-size: 2rem;
}
