.boardWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
  width: 100%5;
}

.boardRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
}

.boardWrapper:first-child {
  height: 900px;
  width: 900px;
}
